{% extends 'base.html' %}
{% load static %}
{% block title %}About{% endblock %}

{% block content %}
<div class="about-container">
  <div class="about-content">
    <h1 class="about-title">🌟 About Us 🌟</h1>
    <p>Welcome to <span class="highlight">NewGenEvents</span>! We are committed to providing exceptional services and creating memorable experiences. Our mission is to <span class="highlight">empower our clients</span> with innovative solutions and top-notch support.</p>
    <p>Our team of dedicated professionals works tirelessly to ensure the highest quality in everything we do. We believe in <span class="highlight">collaboration, creativity, and integrity</span> as our core values.</p>
    <a href="{% url 'register' %}" class="signup-button">Go to Sign Up Page</a>
  </div>
</div>
<link rel="stylesheet" type="text/css" href="{% static 'static/styles.css' %}">
{% endblock %}
